.level-0 {
    background-color: black;
}

.level-1 {
    background-color: black;
}

.level-2 {
    background-color: black;
}

.level-3 {
    background-color: black;
}

.level-4 {
    background-color: black;
}

.level-4-bar {
    background-color: black;
}

.level-3-bar {
    background-color: black;
}

.level-2-bar {
    background-color: black;
}

.level-1-bar {
    background-color: black;
}

.level-1-qux {
    background-color: black;
}

@import "not-found";
