.level-0 {
    background-color: black;
}

._level-1_1d980_1 {
    background-color: black;
}

._level-2_hmjai_1 {
    background-color: black;
}

._level-3_zfb3v_1 {
    background-color: black;
}

._level-4_pwm30_1 {
    background-color: black;
}

._level-4-bar_ca8mf_1 {
    background-color: black;
}

._level-3-bar_1frii_1 {
    background-color: black;
}

._level-2-bar_lhiee_1 {
    background-color: black;
}

._level-1-bar_uns4r_1 {
    background-color: black;
}

._level-1-qux_lv7iy_1 {
    background-color: black;
}
